@charset "UTF-8";
.hunachi-theme {
    --mdc-theme-primary: #693B07;
    --mdc-theme-secondary: #D9E021;
    --mdc-theme-surface: #FFFFFF;
}

.toolbar-most-right-item {
    margin-right: 24px;
}

.toolbar-item {
    margin-right: 16px;
}

body {
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.title-text {
    font-size: 32px;
}

.title-icon {
    margin-left: 8px;
    height: 40px;
    width: 40px;
}

.subsmall-title {
    margin-top: 16px;
}

.subcontainer {
    display: flex;
    flex-direction: column;
}

.subcontainer-title {
    width: fit-content;
    margin: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #D9E021;
}

.subcontainer-item {
    margin-left: 8px;
}

.row_container {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.normal-content {
    margin-left: 8px;
}